<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkTimer.Properties.Settings>
            <setting name="WorkInterval" serializeAs="String">
                <value>00:40:00</value>
            </setting>
            <setting name="RestInterval" serializeAs="String">
                <value>00:05:00</value>
            </setting>
        </WorkTimer.Properties.Settings>
    </userSettings>
</configuration>